{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container" style="margin-top: 10rem !important;">

  <div class="row">

     <div class="col-md-5 ps-3 col-lg-5 order-md-last p-0 order-1">

       <h1>{{product.title}}</h1>
       <p>{{product.description}}</p>
       {% for image in product.product_image.all %}
        {% if image.is_feature %}
            <img class="rounded" alt="{{ image.image.alt_text }}" src="{{ image.image.url }}" style="width: 50%">
        {% endif %}
      {% endfor %}

     </div>

     <div class="col-md-5 ps-3 col-lg-5 order-md-last p-0 order-1">
            <div class="d-grid gap-2">

            <div class="d-flex d-flex-inline justify-content-between">
            <div><span class="h3">${{ product.regular_price }}</span><p class="text-muted">price without shipment</p></div>
                   <div class="">
                        <label for="select" class="form-label">Quantity</label>
                        <select id="select" class="form-select form-select-mb mb-3" >
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
            </div>
            <hr>
            <button type="button" id="add-button" value="{{product.id}}" class="btn btn-success fw500">Add to basket</button>

           </div>
     </div>

  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

  var button = document.getElementById("add-button");
  button.onclick = function(e) {
    e.preventDefault();
    var quantity = document.getElementById("select").value;

    let data = new FormData();
    data.append("product_id", {{product.id}})
    data.append("quantity", quantity)
    data.append("action", "post")
    data.append("csrfmiddlewaretoken", '{{csrf_token}}')

    axios.post('{% url 'products:add_product_to_basket' %}', data)
    .then(function (response) {
      document.getElementById("basket-quantity").innerHTML = response.data['cart_quantity'];
    })
    .catch(function (error) {
      console.log(error);
    });
  };
</script>


{% endblock content %}
